.mainPage-container {
  display: flex;
  flex-wrap: wrap;
}
.card-main-body {
  margin: 30px auto;
  height: 400px;
}
.card-img {
  width: 70px;
  height: 150px;
  margin: 0px auto;
}
.card-text-body {
  overflow: hidden;

  display: inline-block;
  height: 100px;
}
.card-title {
  height: 30px;

  overflow: hidden;
}

#btn {
  border-radius: 50%;
  background-color: rgb(5, 26, 44);
  border: none;
}
